
<app-header></app-header>
<app-sidebar></app-sidebar>



<div class="page-wrapper">

  <div class="container-fluid">
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <app-breadcrumbs></app-breadcrumbs>




      <!-- ============================================================== -->
      <!-- CONTENIDO  DE PAGINAS -->
      <!-- ============================================================== -->
      <router-outlet></router-outlet>


  </div>
  <footer class="footer">
    © 2021 Admin Pro 
  </footer>

</div>      