
<div class="row">
    <div class="col-6">


        <app-dona   [titulo]="'ventas'"
                    [labels]="labels1"
                    [data]="data1"
                    
                    ></app-dona>

    </div>
    <div class="col-6">

        <app-dona   [titulo]="'compras'"
                    [labels]="labels1"

                    ></app-dona>

    </div>
    <div class="col-6">


        <app-dona   [titulo]="'perdidas'"
                    [labels]="labels1"
                    
                    ></app-dona>

    </div>
    <div class="col-6">

        <app-dona   [titulo]="'abono'"
                    [labels]="labels1"
                    ></app-dona>

    </div>
</div>

