<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Usuarios</h3>

                <div    class="alert alert-info"
                        *ngIf="usuarios?.length === 0">
                    <p class="mb-0">
                        no hay usuarios con ese termino
                    </p>

                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios"
                                class="animated fadeIn fast">
                                <td>{{ usuario.nombre}}</td>
                                <td class="text-center">
                                    <img    [src]="usuario.img | imagen:'usuarios'" 
                                            class="avatar cursor"
                                            [alt]="usuario.nombre">

                                </td>

                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Medicos</h3>

                <div class="alert alert-info"
                    *ngIf="medicos?.length === 0">
                    <p class="mb-0">
                        no hay medicos con ese termino
                    </p>

                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody>

                                <tr *ngFor="let medico of medicos"
                                    class="animated fadeIn fast"
                                    >
                                    <td>
                                        <a [routerLink]="['/dashboard/medicos',medico.uid]">{{ medico.nombre}}</a>
                                        

                                    </td>
                                    <td class="text-center">
                                        <img    [src]="medico.img | imagen:'medicos'" 
                                                class="avatar cursor"
                                                [alt]="medico.nombre">
    
                                    </td>

                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h3>Hospitales</h3>

                <div    class="alert alert-info"
                        *ngIf="hospitales?.length === 0">


                    <p class="mb-0">
                        no hay Hospitales con ese termino
                    </p>

                </div>

                <div    class="table-responsive"
                        >
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Avatar</th>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales"
                            class="animated fadeIn fast">
                                <td>{{ hospital.nombre}}</td>
                                <td class="text-center">
                                    <img    [src]="hospital.img | imagen:'hospitales'" 
                                            class="avatar cursor"
                                            [alt]="hospital.nombre">

                                </td>

                            </tr>

                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>